<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>Listagem de estoque</h1>
    {% for x in estoque %}
    <ol>
        <li>Nome: {{ x.nomeItem }}</li>
        <li>Descrição: {{ x.desc }}</li>
        <li>Gênero: {{ x.genero }}</li>
        <li>Autor: {{ x.autor }}</li>
        <li>Quantidade: {{ x.quantidade }}</li>
        <li>Preço Unitário: {{ x.precunit }}</li>
    </ol>
    {% endfor %}
</body>
</html>